---
import Layout from '../layouts/Layout.astro';
import Principal from '@/components/common/Principal.tsx'
---

<Layout title="Home">
	<main class="flex justify-center w-full py-4 flex-col items-center relative z-10 bg-white">

<section class="w-full max-w-4xl relative">
	<Principal client:visible/>
</section>
	</main>
</Layout>
